<%- contentFor('a') %>
<div class="budaya sm:mt-10" id="budaya">
  <h1 class="text-green-800 font-medium uppercase text-3xl">Budaya</h1>
  <hr class="mt-2 border-2 bg-green-800 border-green-800 w-1/2" />
  <div class="mt-6 flex w-full gap-5 overflow-x-scroll pb-3">
    <!-- alat musik -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/AlatMusik1.png" alt="" />
      <h1 class="">Alat Musik</h1>
    </div>
    <!-- rumah adat -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/RumahAdat1.png" alt="" />
      <h1>Rumah Adat</h1>
    </div>
    <!-- Tarian -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/Tarian1.png" class="h-full" alt="" />
      <h1>Tarian</h1>
    </div>
    <!-- alat musik -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/AlatMusik1.png" alt="" />
      <h1 class="">Alat Musik</h1>
    </div>
    <!-- rumah adat -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/RumahAdat1.png" alt="" />
      <h1>Rumah Adat</h1>
    </div>
    <!-- Tarian -->
    <div
      class="
        px-6
        py-6
        flex-shrink-0 flex-grow-0
        w-60
        h-48
        rounded-2xl
        flex flex-col
        items-center
        sm:justify-evenly
      "
      style="background-color: #d7e2e8"
    >
      <img src="images/Tarian1.png" class="h-full" alt="" />
      <h1>Tarian</h1>
    </div>
  </div>
</div>
