<div class="daerah sm:mt-10 mt-10" id="daerah">
  <h1 class="text-green-800 font-medium uppercase text-xl sm:text-3xl">
    Daerah
  </h1>
  <hr class="mt-2 border-2 bg-green-800 border-green-800 w-1/2" />
  <div class="mt-6 p-3 flex w-full gap-5 overflow-x-auto pb-5">
    <!-- Monas Jakarta -->
    <a href="/daerah/jakarta">
      <div
        class="
          hover:scale-105 hover:shadow-lg hover:ring-4
          duration-150
          cursor-pointer
          px-6
          py-6
          flex-shrink-0 flex-grow-0
          w-60
          h-48
          rounded-2xl
          flex flex-col
          items-center
          sm:justify-evenly
        "
        style="background-color: #d6eded"
      >
        <img
          src="images/ciri_khas/Monas.png"
          class="h-full rounded-2xl py-2"
          alt=""
        />
        <h1 class="">Jakarta</h1>
      </div>
    </a>

    <a href="/daerah/aceh">
      <!-- Aceh -->
      <div
        class="
          hover:scale-105 hover:shadow-lg hover:ring-4
          duration-150
          cursor-pointer
          px-6
          py-6
          flex-shrink-0 flex-grow-0
          w-60
          h-48
          rounded-2xl
          flex flex-col
          items-center
          sm:justify-evenly
        "
        style="background-color: #d6eded"
      >
        <img
          src="images/ciri_khas/Aceh.png"
          class="h-full rounded-2xl py-2"
          alt=""
        />
        <h1>Aceh</h1>
      </div>
    </a>

    <a href="/daerah/jawa-barat">
      <!-- Gedung Sate -->
      <div
        class="
          hover:scale-105 hover:shadow-lg hover:ring-4
          duration-150
          cursor-pointer
          px-6
          py-6
          flex-shrink-0 flex-grow-0
          w-60
          h-48
          rounded-2xl
          flex flex-col
          items-center
          sm:justify-evenly
        "
        style="background-color: #d6eded"
      >
        <img
          src="images/ciri_khas/gedungsate.png"
          class="h-full rounded-2xl py-2"
          alt=""
        />
        <h1>Jawa Barat</h1>
      </div>
    </a>

    <a href="/daerah/jawa-tengah">
      <!-- Joglo -->
      <div
        class="
          hover:scale-105 hover:shadow-lg hover:ring-4
          duration-150
          cursor-pointer
          px-6
          py-6
          flex-shrink-0 flex-grow-0
          w-60
          h-48
          rounded-2xl
          flex flex-col
          items-center
          sm:justify-evenly
        "
        style="background-color: #d6eded"
      >
        <img
          src="images/ciri_khas/Borobudur.png"
          class="h-full rounded-2xl py-2"
          alt=""
        />
        <h1>Jawa Tengah</h1>
      </div>
    </a>

    <a href="/daerah/jawa-timur">
      <!-- Jawa Timur -->
      <div
        class="
          hover:scale-105 hover:shadow-lg hover:ring-4
          duration-150
          cursor-pointer
          px-6
          py-6
          flex-shrink-0 flex-grow-0
          w-60
          h-48
          rounded-2xl
          flex flex-col
          items-center
          sm:justify-evenly
        "
        style="background-color: #d6eded"
      >
        <img
          src="images/ciri_khas/gunung bromo.jpg"
          class="h-full rounded-2xl py-2"
          alt=""
        />
        <h1>Jawa Timur</h1>
      </div>
    </a>
  </div>
</div>
