<footer
  class="
    mt-10
    bg-blue-400
    grid
    py-4
    px-10
    sm:grid-cols-2
    lg:grid-cols-4
    rounded-t-3xl
    sm:rounded-3xl
    items-center
    lg:justify-items-center
  "
  style="background-color: #d7e2e8"
>
  <img src="images/logo_footer.png" alt="" />

  <!-- contact -->
  <div
    class="
      contact
      mt-6
      lg:mt-0
      flex flex-col
      sm:items-end
      lg:items-start lg:justify-items-center
    "
  >
    <h1
      class="text-medium sm:text-xl md:text-base text-gray-600 font-medium mb-1"
    >
      contact us
    </h1>
    <span>022 488 322 31</span>
  </div>

  <!-- connect with us -->
  <div class="connect mt-3 sm:mt-4 lg:mt-0">
    <h1
      class="
        text-medium
        sm:text-xl
        md:text-base
        text-gray-600
        font-medium
        sm:mb-2
        mb-1
      "
    >
      connect with us
    </h1>
    <div class="flex gap-2 justify-between sm:justify-start">
      <a href="">
        <img src="images/facebook1.png" alt="" class="sm:w-7 sm:h-7 w-8 h-8" />
      </a>
      <a href="">
        <img src="images/twitter1.png" alt="" class="sm:w-7 sm:h-7 w-8 h-8" />
      </a>
      <a href="">
        <img src="images/instagram1.png" alt="" class="sm:w-7 sm:h-7 w-8 h-8" />
      </a>
      <a href="">
        <img src="images/playstore1.png" alt="" class="sm:w-7 sm:h-7 w-8 h-8" />
      </a>
    </div>
  </div>

  <!-- support with us -->
  <div class="support mt-3 sm:mt-4 sm:items-end lg:mt-0 flex flex-col">
    <h1
      class="
        text-medium
        sm:text-xl
        md:text-base
        text-gray-600
        font-medium
        sm:mb-2
      "
    >
      supported by
    </h1>
    <div class="flex mt-1 gap-2 justify-between">
      <img src="images/Logo_UNS.png" alt="" class="w-10 h-10 sm:w-7 sm:h-7" />
      <img
        src="images/Logo_Bytesfest.png"
        alt=""
        class="w-10 h-10 sm:w-7 sm:h-7"
      />
      <img
        src="images/Logo_MikroptikUNS.png"
        alt=""
        class="w-10 h-10 sm:w-7 sm:h-7"
      />
    </div>
  </div>
</footer>
