<div class="kuis mt-10 sm:mt-10" id="kuis">
  <h1 class="text-green-800 font-medium uppercase text-xl sm:text-3xl">Kuis</h1>
  <hr class="mt-2 border-2 bg-green-800 border-green-800 w-1/2" />
  <div class="mt-6 grid md:grid-cols-2 w-full gap-10 overflow-x-auto pb-3">
    <a href="/kuis/easy">
      <div class="easy h-20 sm:h-32 rounded-3xl flex items-center">
        <img
          src="images/star_kuis.png"
          alt=""
          class="h-1/2 ml-7 sm:h-1/2 w-10 sm:w-16 sm:ml-7"
        />
        <span class="ml-5 text-xl sm:text-2xl text-white">Easy</span>
      </div>
    </a>
    <a href="/kuis/hard">
      <div class="hard h-20 sm:h-32 rounded-3xl flex items-center">
        <img
          src="images/star_kuis.png"
          alt=""
          class="h-1/2 ml-7 sm:h-1/2 w-10 sm:w-16 sm:ml-7"
        />
        <span class="ml-5 text-xl sm:text-2xl text-white">Hard</span>
      </div>
    </a>
    <a href="/kuis/medium">
      <div class="medium h-20 sm:h-32 rounded-3xl flex items-center">
        <img
          src="images/star_kuis.png"
          alt=""
          class="h-1/2 ml-7 sm:h-1/2 w-10 sm:w-16 sm:ml-7"
        />
        <span class="ml-5 text-xl sm:text-2xl text-white">Medium</span>
      </div>
    </a>
    <a href="/kuis/expert">
      <div class="expert h-20 sm:h-32 rounded-3xl flex items-center">
        <img
          src="images/star_kuis.png"
          alt=""
          class="h-1/2 ml-7 sm:h-1/2 w-10 sm:w-16 sm:ml-7"
        />
        <span class="ml-5 text-xl sm:text-2xl text-white">Expert</span>
      </div>
    </a>
  </div>
</div>
