<!-- Desktop  -->

<div
  class="
    hidden
    sm:block
    h-full
    w-1/12
    sm:w-2/12
    lg:w-1/12
    hover:w-2/12
    rounded-2xl
    duration-300
    ease-out
  "
  style="background-color: #d7e2e8"
>
  <div class="grid grid-rows-3 grid-flow-row h-full">
    <div
      class="
        m-4
        rounded-full
        h-24
        self-center
        justify-self-center
        relative
        -top-8
      "
    >
      <img src="/images/logo.svg" width="100" alt="" />
    </div>

    <ul class="text-xl overflow-hidden">
      <a href="/#home">
        <li
          class="
            my-2
            rounded-l-3xl
            group
            flex
            py-4
            items-center
            justify-center
            relative
            hover:justify-evenly
          "
        >
          <div
            class="
              z-0
              absolute
              inset-0
              group-hover:bg-white
              sm:group-hover:ml-3
              xl:group-hover:ml-7
              rounded-l-3xl
              duration-300
              ease-out
            "
          ></div>
          <img
            src="/images/home1.svg"
            alt=""
            class="
              sm:w-8
              block
              left-1/5
              fill-current
              text-green-600
              self-center
              z-10
              lg:group-hover:ml-3
            "
          />
          <span
            class="
              lg:group-hover:inline-block
              hidden
              duration-300
              ease-out
              z-10
              text-green-800
              lg:group-hover:mr-3
            "
            >Home</span
          >
        </li>
      </a>
      <a href="/#budaya">
        <li
          class="
            my-2
            rounded-l-3xl
            group
            flex
            py-4
            items-center
            justify-center
            relative
            hover:justify-evenly
          "
        >
          <div
            class="
              z-0
              absolute
              inset-0
              group-hover:bg-white
              sm:group-hover:ml-3
              xl:group-hover:ml-7
              rounded-l-3xl
              duration-300
              ease-out
            "
          ></div>
          <img
            src="/images/lotus1.svg"
            alt=""
            class="
              sm:w-8
              block
              left-1/5
              fill-current
              text-green-600
              self-center
              z-10
              lg:group-hover:ml-3
            "
          />
          <span
            class="
              lg:group-hover:inline-block
              hidden
              duration-300
              ease-out
              z-10
              text-green-800
              lg:group-hover:mr-3
            "
            >Budaya</span
          >
        </li>
      </a>
      <a href="#kuis">
        <li
          class="
            my-2
            rounded-l-3xl
            group
            flex
            py-4
            items-center
            justify-center
            relative
            hover:justify-evenly
          "
        >
          <div
            class="
              z-0
              absolute
              inset-0
              group-hover:bg-white
              sm:group-hover:ml-3
              xl:group-hover:ml-7
              rounded-l-3xl
              duration-300
              ease-out
            "
          ></div>
          <img
            src="/images/puzzle-piece1.svg"
            alt=""
            class="
              sm:w-8
              block
              left-1/5
              fill-current
              text-green-600
              self-center
              z-10
              lg:group-hover:ml-3
            "
          />
          <span
            class="
              lg:group-hover:inline-block
              hidden
              duration-300
              ease-out
              z-10
              text-green-800
              lg:group-hover:mr-3
            "
            >Kuis</span
          >
        </li>
      </a>
    </ul>
  </div>
</div>

<!-- Mobile -->
<div class="sm:hidden">
  <div
    :class="{'inset-0' : open,'right-1/4' : open}"
    class="flex flex-col absolute inset-0 right-1/4"
    style="z-index: 9999"
    @click.outside="open = false"
    x-data="{open:false}"
  >
    <nav
      :class="{'block' : open, 'hidden' : !open}"
      class="flex flex-col bg-white h-screen"
    >
      <!-- <h1 class="text-center text-white my-4 text-2xl bg-green-700 py-8 -mt-1">
        Kiranagara
      </h1> -->
      <div
        class="py-7 h-20 px-10 flex justify-center items-center"
        style="background-color: #d7e2e8"
      >
        <a href="/" class="">
          <img src="/images/logo_footer.png" alt="" class="max-h-10" />
        </a>
      </div>

      <a
        class="
          items-center
          flex
          px-4
          py-5
          m-2
          text-sm
          font-semibold
          rounded-3xl
          text-green-800
          hover:text-white hover:bg-green-700
          focus:outline-none focus:shadow-outline
        "
        href="/#home"
      >
        <svg
          class="fill-current inline-block w-7"
          viewBox="0 0 50 50"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <path
              d="M48.6514 21.7476C48.6503 21.7464 48.6492 21.7453 48.648 21.7442L28.252 1.34888C27.3826 0.479126 26.2267 0 24.9973 0C23.7678 0 22.6119 0.478745 21.7422 1.3485L1.35683 21.7335C1.34997 21.7403 1.3431 21.7476 1.33623 21.7545C-0.449045 23.55 -0.445994 26.4633 1.34501 28.2543C2.16326 29.073 3.24396 29.5471 4.39943 29.5967C4.44636 29.6013 4.49366 29.6036 4.54134 29.6036H5.35425V44.6133C5.35425 47.5834 7.77086 50 10.7417 50H18.7213C19.53 50 20.1862 49.3443 20.1862 48.5352V36.7676C20.1862 35.4122 21.2886 34.3098 22.644 34.3098H27.3506C28.7059 34.3098 29.8084 35.4122 29.8084 36.7676V48.5352C29.8084 49.3443 30.4641 50 31.2732 50H39.2528C42.2237 50 44.6403 47.5834 44.6403 44.6133V29.6036H45.3941C46.6232 29.6036 47.779 29.1248 48.6492 28.2551C50.4421 26.461 50.4428 23.5428 48.6514 21.7476Z"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="50" height="50" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <h2 class="text-lg font-medium ml-4">Home</h2>
      </a>

      <div
        @click.away="open = false"
        class="
          items-center
          flex
          relative
          px-4
          py-5
          m-2
          rounded-3xl
          text-green-800
          hover:text-white hover:bg-green-700
          focus:outline-none focus:shadow-outline
        "
        x-data="{ open: false }"
      >
        <button
          @click="open = !open"
          class="
            flex flex-row
            items-center
            w-full
            text-sm
            font-semibold
            text-left
            bg-transparent
            md:block
          "
        >
          <svg
            class="fill-current inline-block w-7"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 2142.297 1649.673"
            enable-background="new 0 0 2142.297 1649.673"
            xml:space="preserve"
          >
            <g>
              <path
                d="M946.134,1445.451c-101.732-110.058-109.791-122.036-123.856-184.083c-18.285-80.661,6.771-158.089,62.122-191.972
		c51.583-31.576,87.029-26.935,371.87-20.818c64.388,72.538,83.2,84.5,83.2,159.187c0,84.646-26.275,133.657-134.159,250.245
		c-48.502,52.415-98.548,111.394-111.214,131.064l-23.029,35.763C1048.469,1580.847,1030.796,1537.041,946.134,1445.451z"
              />
              <path
                d="M558.268,1286.223c54.144-245.86,146.584-242.587,329.411-254.798c-83.321,83.209-93.226,83.445-93.226,167.195
		c0,70.591,20.949,137.064,60.594,192.271c80.894,112.648-316.476,124.165-379.309,148.436
		C433.079,1555.805,519.863,1460.62,558.268,1286.223z"
              />
              <path
                d="M1317.222,1467.531c-37.111-24.476-45.726-57.511-19.287-73.959c27.822-17.308,69.579-127.135,69.904-183.86
		c0.356-61.932-30.352-131.363-67.812-153.325c-19.268-11.296-6.711-14.817,54.04-15.155
		c266.066-1.476,212.983,272.599,306.597,441.198l35.348,63.661C1608.554,1541.26,1361.939,1497.024,1317.222,1467.531z"
              />
              <path
                d="M378.034,1152.168c47.279-75.043,161.714-143.143,219.145-130.412c125.116,27.734,19.121,25.341-39.911,187.156
		c-34.437,94.394-42.533,101.347-150.063,128.893c-107.085,27.434-139.414,47.761-174.041,65.662
		C394.233,1162.716,296.489,1281.598,378.034,1152.168z"
              />
              <path
                d="M1634.607,1307.879c-75.329-199.424-85.206-198.474-148.879-267.086c66.165,0,191.797-8.242,257.956,66.651
		c34.709,39.292,119.689,232.413,151.779,269.011C1928.276,1413.879,1920.201,1407.665,1634.607,1307.879z"
              />
              <path
                d="M1934.683,1155.445c-15.777-6.431-51.283-15.36-78.902-19.842c-59.116-9.592-141.112-73.198-188.847-107.36
		c96.632-29.143,154.309-59.597,256.138,65.492C1978.032,1161.249,1980.452,1174.102,1934.683,1155.445z"
              />
              <path
                d="M300.82,1017.029c39.922-26.331,50.697-18.784,164.97,13.422l-47.22,40.455c-70.704,60.573-152.439,47.745-201.403,73.3
		C141.733,1183.576,261.695,1042.833,300.82,1017.029z"
              />
              <path
                d="M973.735,1005.451c-156.01-57.643-220.058-276.157-148.94-508.138c66.767-217.785,197.828-399.754,246.852-472.477
		l38.091,45.927c57.925,69.842,158.073,252.887,196.184,358.573c70.699,196.058,67.191,363.866-10.243,489.983
		C1242.242,1006.353,1087.917,1047.64,973.735,1005.451z"
              />
              <path
                d="M1411.182,1014.992c0-7.646,18.461-17.618,41.025-22.161s62.207-26.2,88.096-48.128
		c114.487-96.969,129.68-251.608,50.291-511.888c-27.537-90.283-46.624-175.072-42.415-188.421
		c12.223-38.765,117.752-127.128,188.051-157.46c87.599-37.797,91.9-35.973,60.654,25.718
		c-33.112,65.376-34.149,144.361-4.13,314.563c51.8,293.695-13.718,473.993-202.29,556.676
		C1518.883,1015.278,1411.182,1033.961,1411.182,1014.992z"
              />
              <path
                d="M1583.292,1019.598c0-1.549,31.258-23.204,69.462-48.122c76.438-49.857,133.13-124.358,160.239-210.576
		c18.707-59.495,12.046-300.782-11.924-431.955c-11.63-63.644-9.308-74.084,28.004-125.932
		c22.377-31.094,65.011-69.027,94.742-84.295c60.958-31.303,175.215-65.056,185.427-54.776c3.698,3.722-5.758,31.76-21.014,62.306
		c-88.526,177.249-64.17,504.195-103.984,644.872c-33.021,116.668-156.599,206.829-325.654,237.593
		C1617.176,1016.248,1583.292,1021.147,1583.292,1019.598z"
              />
              <path
                d="M207.124,847.056c-41.637-67.814-71.836-221.879-72.39-369.309C133.82,234.138,61.943,114.762,32.254,56.185
		c85.096,14.268,179.541,20.869,279.118,131.816c29.044,32.359,52.806,62.914,52.806,67.899c0,4.985-10.433,74.806-23.185,155.157
		c-43.69,275.299-6.683,422.477,135.577,539.21c62.127,50.979,69.455,61.485,42.327,60.686
		C433.602,1008.443,260.613,934.174,207.124,847.056z"
              />
              <path
                d="M727.714,998.726c-0.596-0.259-1.236-0.516-1.921-0.772c-33.214-12.419-66.039-24.41-95.047-45.373
		c-21.756-15.722-41.683-34.132-58.22-55.317c-6.073-7.78-11.666-15.94-16.633-24.471c-64.525-110.83-59.827-239.499,17.572-481.266
		C592.459,332.191,608,272.596,608,259.089c0-55.076-129.51-158.389-241.275-192.471c-32.901-10.033-33.033-9.619-10.757,33.742
		c26.337,51.267,29.74,192.161,7.41,306.84c-20.669,106.151-20.45,280.629,0.451,359.288
		c20.812,78.325,144.784,208.13,218.078,228.34c29.381,8.102,59.863,11.458,90.225,13.082c14.925,0.798,29.881,1.212,44.825,1.386
		C723.48,1009.372,742.801,1005.268,727.714,998.726z"
              />
              <path
                d="M777.897,675.541c-0.355-151.947,42.719-237.492,135.907-444.019l-37.637-39.543
		C835.284,149.023,706.153,67.496,655.074,52.39c-30.154-8.918-30.994-7.05-16.133,35.862
		c67.991,196.326-295.064,693.198,39.873,869.325c19.741,10.381,38.032,23.219,56.275,35.983
		c8.895,6.223,16.288,12.603,27.25,14.317c10.709,1.675,21.629,0.366,32.402,0.458c17.003,0.146,34.007,0.225,51.011,0.247
		c13.131,0.017,26.255-0.417,39.38-0.77c12.38-0.334,26.418,1.353,38.498-0.772c-4.135-11.315-18.856-20.022-27.045-28.564
		c-8.698-9.074-17.223-18.318-25.366-27.896c-18.668-21.957-35.224-45.672-48.56-71.248
		C789.977,816.652,778.061,745.691,777.897,675.541z"
              />
              <path
                d="M1372.594,672.647c-1.097-132.986-0.509-130.814-106.402-393.063c-17.728-43.902-16.371-49.15,23.65-91.519
		c43.64-46.2,129.271-102.185,193.637-126.598l36.441-13.822c-9.145,144.57-18.092,156.079,41.077,355.282
		c28.816,97.014,56.073,207.673,60.572,245.909c12,101.991-25.629,218.98-88.231,274.308
		c-54.187,47.891-169.024,88.775-249.354,88.775h-50.279C1319.778,919.464,1374.208,868.355,1372.594,672.647z"
              />
            </g>
          </svg>

          <h2 class="text-lg font-medium ml-4">Budaya</h2>
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="{'rotate-180': open, 'rotate-0': !open}"
            class="
              inline
              w-4
              h-4
              mt-1
              ml-1
              transition-transform
              duration-200
              transform
              md:-mt-1
            "
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 w-full origin-top-right rounded-md shadow-lg"
        >
          <div
            class="absolute inset-x-0 mt-5 px-2 py-2 bg-white rounded-md shadow"
          >
            <a
              class="
                block
                px-4
                py-2
                m-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                md:mt-0
                text-green-700
                hover:text-white hover:bg-green-700
                focus:outline-none focus:shadow-outline
              "
              href="/#tarian-daerah"
              >Tarian</a
            >
            <a
              class="
                block
                px-4
                py-2
                m-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                md:mt-0
                text-green-700
                hover:text-white hover:bg-green-700
                focus:outline-none focus:shadow-outline
              "
              href="/#alat-musik"
              >Alat Musik Tradisional</a
            >
            <a
              class="
                block
                px-4
                py-2
                m-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                md:mt-0
                text-green-700
                hover:text-white hover:bg-green-700
                focus:outline-none focus:shadow-outline
              "
              href="/#rumah-adat"
              >Rumah Adat</a
            >

            <a
              class="
                block
                px-4
                py-2
                m-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                md:mt-0
                text-green-700
                hover:text-white hover:bg-green-700
                focus:outline-none focus:shadow-outline
              "
              href="/#senjata"
              >Senjata</a
            >
            <a
              class="
                block
                px-4
                py-2
                m-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                md:mt-0
                text-green-700
                hover:text-white hover:bg-green-700
                focus:outline-none focus:shadow-outline
              "
              href="/#makanan-khas"
              >Makanan Khas</a
            >
          </div>
        </div>
      </div>

      <a
        class="
          items-center
          flex
          px-4
          py-5
          m-2
          text-sm
          font-semibold
          text-green-800
          bg-transparent
          rounded-3xl
          hover:text-white hover:bg-green-700
          focus:outline-none focus:shadow-outline
        "
        href="/#kuis"
      >
        <svg
          class="fill-current inline-block w-7"
          viewBox="0 0 54 54"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.7461 0V8.01562H28.582C26.8345 8.01562 25.418 9.43218 25.418 11.1797C25.418 12.9272 26.8345 14.3438 28.582 14.3438H31.7461V22.2539H41.2383V17.5078C41.2383 16.635 41.9475 15.9258 42.8203 15.9258C43.6932 15.9258 44.4023 16.635 44.4023 17.5078V22.2539H54V0H31.7461Z"
          />
          <path
            d="M7.17188 33.3281C7.17188 35.0756 8.58843 36.4922 10.3359 36.4922C12.0834 36.4922 13.5 35.0756 13.5 33.3281V30.1641H20.6719V22.2539H17.5078C16.6341 22.2539 15.9258 21.5456 15.9258 20.6719C15.9258 19.7982 16.6341 19.0898 17.5078 19.0898H20.6719V9.59766H0V30.1641H7.17188V33.3281Z"
          />
          <path
            d="M37.3359 33.3281V30.1641C37.3359 28.4166 35.9194 27 34.1719 27C32.4244 27 31.0078 28.4166 31.0078 30.1641V33.3281H23.8359V37.3359C27.326 37.3359 30.1641 40.174 30.1641 43.6641C30.1641 47.1541 27.326 49.9922 23.8359 49.9922V54H44.4023V33.3281H37.3359Z"
          />
          <path
            d="M23.8359 46.8281C25.5834 46.8281 27 45.4116 27 43.6641C27 41.9166 25.5834 40.5 23.8359 40.5H20.6719V33.3281H16.6641C16.6641 36.8182 13.826 39.6562 10.3359 39.6562C6.84587 39.6562 4.00781 36.8182 4.00781 33.3281H0V54H20.6719V46.8281H23.8359Z"
          />
        </svg>
        <h2 class="text-lg font-medium ml-4 inline-block">Kuis</h2></a
      >
    </nav>

    <!-- blur right -->
    <div
      @click="open = false"
      :class="{'block' : open, 'hidden' : !open}"
      class="
        fixed
        inset-y-0
        right-0
        left-3/4
        bg-gray-400
        opacity-50
        glassmorphism
      "
    ></div>

    <div
      :class="{'block' : !open, 'hidden' : open}"
      class="
        w-10
        h-10
        sm:hidden
        fixed
        right-8
        top-5
        p-2
        bg-gray-700
        rounded-full
        focus:outline-none focus:shadow-outline
      "
    >
      <button @click="open = !open">
        <svg
          fill="currentColor "
          viewBox="0 0 20 20"
          class="w-6 h-6 text-gray-50"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
