<div
  class="
    h-full
    sm:w-2/12
    lg:w-1/12
    hover:w-2/12
    mr-3
    rounded-2xl
    duration-300
    ease-out
  "
  style="background-color: #d7e2e8"
>
  <div class="grid grid-rows-3 grid-flow-row h-full">
    <div
      class="
        m-4
        rounded-full
        h-24
        self-center
        justify-self-center
        relative
        -top-8
      "
    >
      <img src="images/Group9.svg" width="100" alt="" />
    </div>

    <ul class="text-xl overflow-hidden">
      <a href="">
        <li
          class="
            my-2
            duration-300
            ease-out
            hover:bg-white hover:ml-3
            lg:hover:pl-4 lg:hover:pl-3
            rounded-l-3xl
            group
            flex
            py-4
            items-center
            justify-center
          "
        >
          <img
            src="images/home1.svg"
            alt=""
            class="
              sm:w-8
              block
              left-1/5
              fill-current
              text-green-600
              self-center
            "
          />
          <span
            class="sm:hidden lg:group-hover:inline-block block text-green-800"
            >Home</span
          >
        </li>
      </a>
      <!-- <a href="">
        <li
          class="
            my-2
            md:pl-8
            xl:pl-7
            duration-300
            ease-out
            hover:bg-white
            rounded-l-3xl
          "
        >
          <img
            src="images/lotus1.svg"
            alt=""
            class="
              lg:w-9
              md:w-8
              block
              relative
              top-3
              fill-current
              text-green-600
            "
          />
          <span class="relative -top-4 -right-20 md:-right-96 block"
            >Budaya</span
          >
        </li>
      </a>
      <a href="">
        <li
          class="
            my-2
            md:pl-8
            xl:pl-7
            duration-300
            ease-out
            hover:bg-white
            rounded-l-3xl
          "
        >
          <img
            src="images/puzzle-piece1.svg"
            alt=""
            class="
              lg:w-9
              md:w-8
              block
              relative
              top-3
              fill-current
              text-green-600
            "
          />
          <span class="relative -top-4 -right-20 md:-right-96 block hover:"
            >Kuis</span
          >
        </li>
      </a> -->
    </ul>
  </div>

  <script></script>
</div>
