<div class="h-full- w-2/12 bg-red-500 mr-3 rounded-2xl">
  <div class="flex flex-col h-full justify-center">
    <div class="m-4 rounded-full w-24 h-24 bg-green-400 self-center"></div>

    <ul class="text-2xl pl-6">
      <li class="pl-5 py-4 bg-gray-500 rounded-l-3xl">
        <a href="">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text-xl relative -top-1 ml-2">Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <ion-icon name="earth-outline"></ion-icon>
          </span>
          <span class="text-xl relative -top-1">Budaya</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text-xl relative -top-1">Kuis</span>
        </a>
      </li>
    </ul>
  </div>
</div>
