<!-- B  -->
<div
  class="
    mt-10
    soal
    rounded-lg
    p-4
    flex flex-col
    justify-center
    items-center
    flex-grow-0
    sm:flex-row sm:hover:transform sm:hover:scale-105
    md:p-10
    hover:ring-4 hover:shadow-2xl
    ring-green-500
    duration-300
  "
  style="background-color: #ececec"
>
  <div
    class="rounded-lg shadow-lg flex justify-center items-center p-4 w-96"
    style="background-color: white"
  >
    <img src="/images/alat_musik/Sasando.png" alt="" class="" />
  </div>
  <!-- soal dan jawaban -->
  <div class="mt-6 sm:mt-0 sm:ml-5 md:ml-10">
    <h1 class="mb-4 font-medium">Alat musik sasando berasal dari ?</h1>
    <form action="">
      <!-- opsi 1 -->
      <label
        class="
          answer
          flex
          items-center
          mr-4
          mb-1
          rounded-xl
          p-2
          duration-100
          hover:bg-main-green
          cursor-pointer
        "
        for="radio17"
        value="A"
      >
        <input id="radio17" type="radio" name="radio" class="hidden" />
        <div class="flex items-center">
          <span
            class="
              w-6
              h-6
              inline-block
              mr-2
              rounded-full
              border-blue-400 border-2
              flex-no-shrink
            "
          ></span>
          Nusa Tenggara Barat
        </div>
      </label>

      <!-- opsi 2 -->
      <label
        class="
          answer
          flex
          items-center
          mr-4
          mb-1
          rounded-xl
          p-2
          duration-100
          hover:bg-main-green
          cursor-pointer
        "
        for="radio18"
        value="B"
      >
        <input id="radio18" type="radio" name="radio" class="hidden" />
        <div class="flex items-center">
          <span
            class="
              w-6
              h-6
              inline-block
              mr-2
              rounded-full
              border-blue-400 border-2
              flex-no-shrink
            "
          ></span>
          Nusa Tenggara Timur
        </div>
      </label>

      <!-- opsi 3 -->
      <label
        class="
          answer
          flex
          items-center
          mr-4
          mb-1
          rounded-xl
          p-2
          duration-100
          hover:bg-main-green
          cursor-pointer
        "
        for="radio19"
        value="C"
      >
        <input id="radio19" type="radio" name="radio" class="hidden" />
        <div class="flex items-center">
          <span
            class="
              w-6
              h-6
              inline-block
              mr-2
              rounded-full
              border-blue-400 border-2
              flex-no-shrink
            "
          ></span>
          Bali
        </div>
      </label>

      <!-- opsi 4 -->
      <label
        class="
          answer
          flex
          items-center
          mr-4
          mb-1
          rounded-xl
          p-2
          duration-100
          hover:bg-main-green
          cursor-pointer
        "
        for="radio20"
        value="D"
      >
        <input id="radio20" type="radio" name="radio" class="hidden" />
        <div class="flex items-center">
          <span
            class="
              w-6
              h-6
              inline-block
              mr-2
              rounded-full
              border-blue-400 border-2
              flex-no-shrink
            "
          ></span>
          Maluku
        </div>
      </label>
    </form>
    <!-- Hasil -->
    <div class="hasil mt-4"></div>
  </div>
</div>
