<div class="h-full bg-white w-full overflow-y-auto">
  <div
    class="w-full h-20 sm:hidden flex justify-center items-center"
    style="background-color: #d7e2e8"
  >
    <h1 class="text-green-700 uppercase font-medium text-2xl">Kiranagara</h1>
  </div>

  <div class="p-2 px-6" x-data="{ open: false }">
    <div class="alat-musik" id="alat-musik">
      <h1 class="text-green-800 text-xl font-medium uppercase sm:text-3xl">
        Jawa Timur
      </h1>
      <hr class="mt-2 border-2 bg-green-800 border-green-800 w-1/2" />

      <div class="mt-6 flex flex-col lg:flex-row gap-x-9">
        <div>
          <img
            src="/images/ciri_khas/bromo.jpg"
            alt=""
            class="rounded-xl lg:w-auto self-center"
          />

          <p class="mt-10 text-justify hidden lg:block">
            &emsp;&emsp;&emsp;Provinsi Jawa Timur secara geografis terletak di
            antara 111º 0’ – 114º 4’ bujur timur dan 7º 12’ – 8º 48’ lintang
            selatan, dengan luas wilayah sebesar 47.963 km<sup>2</sup> yang
            meliputi dua bagian utama, yaitu Jawa Timur daratan dan Kepulauan
            Madura. Wilayah daratan Jawa Timur sebesar 88,70 persen atau 42.541
            km<sup>2</sup>, jumlah penduduknya pada tahun 2010 mencapai
            37.476.757 jiwa.
            <br />
            <br />
            &emsp;&emsp;&emsp;Secara administratif Jawa Timur terbagi menjadi 29
            kabupaten dan 9 kota, dengan Kota Surabaya sebagai ibukota provinsi.
            Ini menjadikan Jawa Timur sebagai provinsi yang memiliki jumlah
            kabupaten/kota terbanyak di Indonesia. Jawa Timur terbagi dalam 4
            Badan Koordinasi Wilayah (Bakorwil).
            <br />
            <br />
            &emsp;&emsp;&emsp;Mayoritas penduduk Jawa Timur adalah Suku Jawa,
            namun entitas di Jawa Timur lebih heterogen. Suku Jawa menyebar
            hampir di seluruh wilayah Jawa Timur daratan. Umumnya Suku Jawa
            menganut agama Islam, sebagian menganut agama Kristen, Katolik,
            Hindu dan Buddha.
          </p>
        </div>
        <div class="mt-7 lg:mt-0 sm:grid sm:grid-cols-2 lg:block">
          <div>
            <!-- gmaps -->
            <div class="mapouter lg:block hidden mb-10">
              <div class="gmap_canvas">
                <iframe
                  width="300"
                  height="300"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=jawa%20timur&t=&z=7&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><a href="https://123movies-to.org"></a><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 300px;
                    width: 300px;
                  }</style
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 300px;
                    width: 300px;
                  }
                </style>
              </div>
            </div>

            <a href="https://maps.app.goo.gl/KWu3S6evUoF69gvL7">
              <div class="flags flex items-center my-3 text-sm text-green-900">
                <svg
                  class="block h-8 w-8"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.00036 0C5.40581 0 2.48145 2.92437 2.48145 6.51888C2.48145 10.9798 8.31524 17.5287 8.56362 17.8053C8.79691 18.0651 9.20424 18.0647 9.43711 17.8053C9.68549 17.5287 15.5193 10.9798 15.5193 6.51888C15.5192 2.92437 12.5949 0 9.00036 0ZM9.00036 9.79872C7.19186 9.79872 5.72057 8.32739 5.72057 6.51888C5.72057 4.71038 7.19189 3.23909 9.00036 3.23909C10.8088 3.23909 12.2801 4.71041 12.2801 6.51892C12.2801 8.32743 10.8088 9.79872 9.00036 9.79872Z"
                    fill="#0E4542"
                  />
                </svg>

                <h1 class="ml-4 font-medium">Jawa Timur, Indonesia</h1>
              </div>
            </a>
            <div class="users flex items-center my-3 text-sm text-green-900">
              <svg
                class="block h-8 w-8"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.8622 4.02583C11.6945 4.54766 12.2781 5.4307 12.3844 6.45571C12.7238 6.6143 13.1005 6.7055 13.4999 6.7055C14.958 6.7055 16.1398 5.52369 16.1398 4.06581C16.1398 2.60771 14.958 1.4259 13.4999 1.4259C12.0557 1.42635 10.8842 2.58704 10.8622 4.02583ZM9.13276 9.431C10.5909 9.431 11.7727 8.24897 11.7727 6.79109C11.7727 5.3332 10.5906 4.1514 9.13276 4.1514C7.67488 4.1514 6.4924 5.33343 6.4924 6.79131C6.4924 8.24919 7.67488 9.431 9.13276 9.431ZM10.2526 9.61093H8.0125C6.14871 9.61093 4.63242 11.1274 4.63242 12.9912V15.7307L4.63939 15.7736L4.82808 15.8326C6.60674 16.3884 8.152 16.5737 9.42389 16.5737C11.9081 16.5737 13.348 15.8654 13.4368 15.8203L13.6131 15.7311H13.632V12.9912C13.6326 11.1274 12.1164 9.61093 10.2526 9.61093ZM14.6201 6.88566H12.3974C12.3733 7.77499 11.9937 8.57581 11.3933 9.15177C13.0499 9.6444 14.2621 11.1807 14.2621 12.9953V13.8395C16.4568 13.759 17.7215 13.137 17.8048 13.0952L17.9811 13.0058H18V10.2655C18 8.40194 16.4837 6.88566 14.6201 6.88566ZM4.50056 6.70595C5.017 6.70595 5.49749 6.55522 5.90453 6.29846C6.03392 5.45451 6.48634 4.71703 7.13261 4.21475C7.13531 4.16533 7.14002 4.11636 7.14002 4.06649C7.14002 2.60838 5.95799 1.42658 4.50056 1.42658C3.04223 1.42658 1.86065 2.60838 1.86065 4.06649C1.86065 5.52392 3.04223 6.70595 4.50056 6.70595ZM6.87136 9.15177C6.27383 8.57873 5.89555 7.78218 5.86791 6.89824C5.78547 6.89217 5.70393 6.88566 5.61992 6.88566H3.38008C1.51629 6.88566 0 8.40194 0 10.2655V13.0054L0.00696368 13.0476L0.195657 13.1071C1.62254 13.5526 2.89599 13.7579 4.0021 13.8226V12.9953C4.00255 11.1807 5.21423 9.64485 6.87136 9.15177Z"
                  fill="#0E4542"
                />
              </svg>
              <h1 class="ml-4 font-medium">37,476 juta jiwa</h1>
            </div>

            <div class="area flex items-center my-3 text-sm text-green-900">
              <svg
                class="block h-8 w-8"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.5601 2.00392C11.5601 1.76246 11.7558 1.56675 11.9973 1.56675H12.1014C12.3428 1.56675 12.5385 1.76246 12.5385 2.00392C12.5385 2.24538 12.3428 2.44109 12.1014 2.44109H11.9973C11.7559 2.44109 11.5601 2.24538 11.5601 2.00392ZM12.1633 12.1664C12.1633 12.4078 12.359 12.6035 12.6005 12.6035H12.7046C12.9461 12.6035 13.1418 12.4078 13.1418 12.1664C13.1418 11.9249 12.9461 11.7292 12.7046 11.7292H12.6005C12.3591 11.7292 12.1633 11.9249 12.1633 12.1664ZM12.6526 10.1625C13.7575 10.1625 14.6564 11.0614 14.6564 12.1664C14.6564 13.1212 13.9852 13.9222 13.0897 14.1223V15.4497C13.0897 15.6912 12.894 15.8869 12.6526 15.8869C12.4111 15.8869 12.2154 15.6912 12.2154 15.4497V14.1223C11.3199 13.9223 10.6486 13.1212 10.6486 12.1664C10.6486 11.0614 11.5476 10.1625 12.6526 10.1625ZM12.6526 11.0368C12.0297 11.0368 11.5229 11.5436 11.5229 12.1664C11.5229 12.7892 12.0297 13.296 12.6526 13.296C13.2754 13.296 13.7821 12.7892 13.7821 12.1664C13.7821 11.5436 13.2754 11.0368 12.6526 11.0368ZM5.61178 6.35037C5.61178 5.24541 6.51078 4.34645 7.61579 4.34645C8.7208 4.34645 9.61976 5.24541 9.61976 6.35037C9.61976 7.30519 8.94842 8.10622 8.05296 8.3063V9.63373C8.05296 9.87519 7.85725 10.0709 7.61579 10.0709C7.37433 10.0709 7.17863 9.87519 7.17863 9.63373V8.3063C6.28322 8.10627 5.61178 7.30524 5.61178 6.35037ZM6.48611 6.35037C6.48611 6.97323 6.99288 7.47996 7.61579 7.47996C8.23866 7.47996 8.74543 6.97323 8.74543 6.35037C8.74543 5.7275 8.23866 5.22078 7.61579 5.22078C6.99288 5.22078 6.48611 5.7275 6.48611 6.35037ZM10.0454 2.00392C10.0454 0.898959 10.9443 0 12.0493 0C13.1543 0 14.0533 0.898959 14.0533 2.00392C14.0533 2.95874 13.3819 3.75977 12.4865 3.95985V5.28728C12.4865 5.52874 12.2907 5.72444 12.0493 5.72444C11.8078 5.72444 11.6121 5.52874 11.6121 5.28728V3.9598C10.7167 3.75977 10.0454 2.95874 10.0454 2.00392ZM10.9197 2.00392C10.9197 2.62678 11.4264 3.13351 12.0493 3.13351C12.6722 3.13351 13.1789 2.62678 13.1789 2.00392C13.1789 1.38106 12.6722 0.874332 12.0493 0.874332C11.4264 0.874332 10.9197 1.38106 10.9197 2.00392ZM17.4388 7.55666L16.7069 7.29173L16.1039 3.1627C16.0322 2.67104 15.7598 2.26379 15.3369 2.01602C15.1285 1.89385 14.8607 1.96399 14.7388 2.17223C14.6167 2.38051 14.6866 2.64835 14.8949 2.77037C15.0923 2.88602 15.2047 3.0556 15.2388 3.28899L15.8796 7.67697C15.9029 7.83634 16.0119 7.97002 16.1634 8.02486L17.1413 8.37882C17.8116 8.62145 17.8776 8.78874 17.8603 8.9074L16.8083 16.1107C16.7588 16.4494 16.5357 16.6643 16.1449 16.7495L9.51411 18.196C9.45514 18.2088 9.40929 18.1991 9.35528 18.1625C9.21121 18.065 9.07986 17.8124 9.03581 17.5485L9.00049 17.3367C8.97917 17.2087 8.90203 17.0968 8.78997 17.0313C8.67781 16.9656 8.54254 16.9534 8.42047 16.9975L2.56182 19.118C2.47841 19.1483 2.37335 19.0684 2.34309 19.0432C2.20387 18.9272 2.11615 18.736 2.13913 18.5983L4.17044 6.43231C4.21989 6.13592 4.38149 5.85472 4.53834 5.79211C4.76261 5.70263 4.8718 5.4483 4.78228 5.22408C4.69276 4.99982 4.43837 4.89038 4.21425 4.98015C3.67081 5.19703 3.38976 5.79823 3.30806 6.28844L1.27674 18.4544C1.20208 18.9017 1.40109 19.3965 1.78366 19.7151C2.009 19.9028 2.26527 20 2.5197 20C2.63429 20 2.74858 19.9803 2.85943 19.9402L8.24478 17.9909C8.36587 18.375 8.58693 18.6983 8.86492 18.8865C9.1178 19.0578 9.40672 19.1143 9.70035 19.0503L16.3311 17.6038C17.0812 17.4402 17.5705 16.942 17.6733 16.2371L18.7253 9.03379C18.8657 8.07319 17.8291 7.69796 17.4388 7.55666ZM7.56392 6.78753H7.66791C7.90937 6.78753 8.10508 6.59183 8.10508 6.35037C8.10508 6.10891 7.90937 5.9132 7.66791 5.9132H7.56392C7.32245 5.9132 7.12675 6.10891 7.12675 6.35037C7.12675 6.59183 7.32245 6.78753 7.56392 6.78753ZM6.74112 3.53978C6.76551 3.54386 6.78974 3.5458 6.81364 3.5458C7.02343 3.5458 7.20865 3.39435 7.2443 3.18058L7.46623 1.85135C7.51034 1.58725 7.64168 1.33472 7.78575 1.23713C7.83982 1.2006 7.88586 1.19089 7.94464 1.20371L9.0275 1.43993C9.26347 1.49156 9.49634 1.34186 9.54778 1.10598C9.59926 0.870106 9.4497 0.637194 9.21383 0.585705L8.13102 0.34949C7.83734 0.285469 7.54837 0.342009 7.29555 0.513233C6.948 0.748574 6.68939 1.19497 6.6039 1.70733L6.38197 3.03655C6.34218 3.27471 6.50296 3.50005 6.74112 3.53978Z"
                  fill="#0E4542"
                />
              </svg>
              <h1 class="ml-4 font-medium">42.541 km<sup>2</sup></h1>
            </div>
          </div>

          <!-- show button -->
          <div
            class="flex justify-center my-10 lg:hidden"
            @click="open = !open"
          >
            <button
              class="
                px-3
                py-2
                flex
                justify-center
                items-center
                bg-gradient-to-tl
                from-blue-500
                to-cyan-400
                rounded
                text-white
                focus:outline-none
                font-semibold
                shadow
                hover:transition-colors hover:bg-gradient-to-tr
                transform
                transition
                hover:scale-110
                ease-out
                duration-300
                hover:shadow-md
              "
            >
              <div class="mr-2">
                <svg
                  class="w-5 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                  <path
                    fill-rule="evenodd"
                    d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
              Show Info
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div x-show="open">
      <div
        class="absolute inset-0 z-50 flex justify-center items-center"
        style="background-color: rgba(128, 128, 128, 0.541)"
      >
        <div
          class="
            hover:transform hover:scale-105 hover:ring-4 hover:shadow-2xl
            duration-300
            w-4/5
            h-4/5
            lg:w-3/4 lg:h-3/4
            bg-white
            rounded-3xl
            flex flex-col
            lg:flex-row-reverse
            justify-center
            items-center
            pb-5
          "
          @click.outside="open = !open"
        >
          <div
            class="
              mt-5
              lg:flex lg:flex-col
              justify-center
              items-center
              overflow-y-hidden
            "
          >
            <h1
              class="
                text-center
                font-medium
                text-green-800 text-2xl
                md:text-3xl
              "
            >
              Jawa Timur
            </h1>
            <p
              class="
                text-sm
                lg:text-base
                block
                px-7
                lg:px-10
                mt-4
                text-justify
                overflow-y-auto
                h-full
                lg:max-h-96
              "
            >
              &emsp;&emsp;&emsp;Provinsi Jawa Timur secara geografis terletak di
              antara 111º 0’ – 114º 4’ bujur timur dan 7º 12’ – 8º 48’ lintang
              selatan, dengan luas wilayah sebesar 47.963 km<sup>2</sup> yang
              meliputi dua bagian utama, yaitu Jawa Timur daratan dan Kepulauan
              Madura. Wilayah daratan Jawa Timur sebesar 88,70 persen atau
              42.541 km<sup>2</sup>, jumlah penduduknya pada tahun 2010 mencapai
              37.476.757 jiwa.
              <br />
              <br />
              &emsp;&emsp;&emsp;Secara administratif Jawa Timur terbagi menjadi
              29 kabupaten dan 9 kota, dengan Kota Surabaya sebagai ibukota
              provinsi. Ini menjadikan Jawa Timur sebagai provinsi yang memiliki
              jumlah kabupaten/kota terbanyak di Indonesia. Jawa Timur terbagi
              dalam 4 Badan Koordinasi Wilayah (Bakorwil).
              <br />
              <br />
              &emsp;&emsp;&emsp;Mayoritas penduduk Jawa Timur adalah Suku Jawa,
              namun entitas di Jawa Timur lebih heterogen. Suku Jawa menyebar
              hampir di seluruh wilayah Jawa Timur daratan. Umumnya Suku Jawa
              menganut agama Islam, sebagian menganut agama Kristen, Katolik,
              Hindu dan Buddha.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
